.margin-content{
    margin: 10px;
    background: #222;
}

#load-screen {
    background: url(./../../images/header-back.png);
    position: fixed;
    z-index: 10000;
    top:0px;
    width: 100%;
    height: 1600px;
    }
    
    #loading {
    height: 500px;
    margin: 10% auto;
    left: 0px;
    background: url(./../../images/Eclipse-1s-200px.gif);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    }
    .well{
        background-color: #222;
    }
    @media screen and (min-width: 500px)
    {
        #loading{
            width: 300px;
        }
    }
    @media screen and (max-width: 500px)
    {
        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
            min-height: 800px;
        }
    }
    